<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="outputFileName" value="c:\\temp\\demoOutput.xlsx" />
    <add key="oDataUrl" value="https://opendata.cbs.nl/ODataApi/OData/80590NED" />
  </appSettings>
</configuration>